<div *ngIf="quizMode == true; else quizModeOff" class="main">
    <div class="test">
        <!-- <p>QUIZ</p> -->
        <p class="smaller">Points: {{score}}</p>
        <p class="small">{{currentQuestion.question}}</p>
        <p class="small hover" (click)="checkAnswer(currentQuestion.choices[0])">A: {{currentQuestion.choices[0]}}</p>
        <p class="small hover" (click)="checkAnswer(currentQuestion.choices[1])">B: {{currentQuestion.choices[1]}}</p>
        <p class="small hover" (click)="checkAnswer(currentQuestion.choices[2])">C: {{currentQuestion.choices[2]}}</p>
        <p class="small hover" (click)="checkAnswer(currentQuestion.choices[3])">D: {{currentQuestion.choices[3]}}</p>
    </div>
</div>

<ng-template #quizModeOff>
  <div class="main">
    <div class="test">
      <p>All done</p>
      <p class="smaller">You acquired {{score}} points on this quiz. Your prize is currently being prepared. Please wait patiently while my creator gets it.</p>
      <p [routerLink]="'/secret/end'">∞</p>
    </div>
  </div>
</ng-template>

  
  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="squiggly-0">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
        <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="6" />
      </filter>
      <filter id="squiggly-1">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
      </filter>
      
      <filter id="squiggly-2">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
      </filter>
      <filter id="squiggly-3">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="8" />
      </filter>
      
      <filter id="squiggly-4">
        <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
  <feDisplacementMap in="SourceGraphic" in2="noise" scale="6" />
      </filter>
    </defs> 
  </svg>